<h1>Tabla de contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-aggregation" data-toc-modified-id="Data-aggregation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data aggregation</a></span><ul class="toc-item"><li><span><a href="#groupby" data-toc-modified-id="groupby-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>groupby</a></span><ul class="toc-item"><li><span><a href="#groupby-&amp;-aggregate" data-toc-modified-id="groupby-&amp;-aggregate-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>groupby &amp; aggregate</a></span></li></ul></li><li><span><a href="#Pivot-Tables" data-toc-modified-id="Pivot-Tables-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Pivot Tables</a></span></li><li><span><a href="#Differences-between-pivot-table-and-groupby-function" data-toc-modified-id="Differences-between-pivot-table-and-groupby-function-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Differences between pivot table and groupby function</a></span></li><li><span><a href="#crosstab" data-toc-modified-id="crosstab-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>crosstab</a></span></li></ul></li><li><span><a href="#Data-combination:-mixing-dataframes" data-toc-modified-id="Data-combination:-mixing-dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data combination: mixing dataframes</a></span><ul class="toc-item"><li><span><a href="#Concat:-two-things-together" data-toc-modified-id="Concat:-two-things-together-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Concat: two things together</a></span><ul class="toc-item"><li><span><a href="#Concatenating-on-axis-0-(rows)" data-toc-modified-id="Concatenating-on-axis-0-(rows)-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Concatenating on axis 0 (rows)</a></span></li><li><span><a href="#Concatenating-on-axis-1-(columns)" data-toc-modified-id="Concatenating-on-axis-1-(columns)-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Concatenating on axis 1 (columns)</a></span></li></ul></li><li><span><a href="#Merge:-related-columns" data-toc-modified-id="Merge:-related-columns-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Merge: related columns</a></span><ul class="toc-item"><li><span><a href="#LEFT-Merge" data-toc-modified-id="LEFT-Merge-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>LEFT Merge</a></span></li><li><span><a href="#RIGHT-Merge" data-toc-modified-id="RIGHT-Merge-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>RIGHT Merge</a></span></li><li><span><a href="#INNER-Merge" data-toc-modified-id="INNER-Merge-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>INNER Merge</a></span></li><li><span><a href="#OUTER-Merge" data-toc-modified-id="OUTER-Merge-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>OUTER Merge</a></span></li></ul></li><li><span><a href="#Merging-&amp;-Concatenating-in-two-different-columns" data-toc-modified-id="Merging-&amp;-Concatenating-in-two-different-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Merging &amp; Concatenating in two different columns</a></span><ul class="toc-item"><li><span><a href="#Concatenating-in-two-different-columns" data-toc-modified-id="Concatenating-in-two-different-columns-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Concatenating in two different columns</a></span></li><li><span><a href="#Merging-in-two-different-columns" data-toc-modified-id="Merging-in-two-different-columns-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Merging in two different columns</a></span></li></ul></li><li><span><a href="#Join:-relating-index" data-toc-modified-id="Join:-relating-index-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Join: relating index</a></span></li><li><span><a href="#Differences-between-join-&amp;-merge" data-toc-modified-id="Differences-between-join-&amp;-merge-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Differences between join &amp; merge</a></span></li></ul></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

![](https://miro.medium.com/max/1400/1*6d5dw6dPhy4vBp2vRW6uzw.webp)

Primero, importamos las librerías principales:

In [1]:
import pandas as pd
import numpy as np

Cargamos un nuevo dataset.

In [3]:
df = pd.read_csv("./datasets/employees.csv")

what is it about? Let's look at it all together:

In [ ]:
# time to code

## Data aggregation

La agregación de datos es una técnica fundamental en el análisis de datos que implica agrupar y resumir datos para obtener información y tomar decisiones informadas. En esta sección, exploraremos métodos esenciales de Pandas para la agregación de datos, incluyendo `groupby`, `pivot_table` y `crosstab`.

Estas técnicas son particularmente útiles cuando se trata de grandes conjuntos de datos o cuando necesitas resumir datos a través de diferentes categorías o dimensiones. Ya sea que quieras calcular estadísticas para grupos específicos, crear tablas resumen o analizar relaciones entre variables, los métodos de agregación de datos en Pandas proporcionan las herramientas para agilizar tu análisis.

Vamos a sumergirnos en cada uno de estos métodos y descubrir cómo pueden ayudarte a descubrir patrones y tendencias significativas dentro de tus datos.

### groupby

Pandas GroupBy es una función poderosa y versátil en Python que es indispensable para la manipulación y análisis de datos. Nos permite dividir un DataFrame en grupos separados basados en uno o más criterios y realizar varios cálculos sobre estos grupos para un análisis profundo.

El concepto es sencillo: seleccionas un DataFrame, especificas las categorías o criterios por los cuales quieres agrupar tus datos, y luego aplicas funciones de agregación a cada grupo. Estas funciones de agregación pueden incluir cálculos como sumar, promediar, contar, o incluso funciones definidas por el usuario, dependiendo de tus objetivos de análisis.

Las operaciones de GroupBy son invaluables para tareas como resumir datos, explorar patrones dentro de grupos específicos, o comparar diferentes segmentos de tu conjunto de datos. Ya estés trabajando con datos de ventas, comportamiento del cliente, o cualquier otro tipo de datos estructurados, Pandas GroupBy es tu herramienta de elección.

Aquí tienes una sintaxis básica para usar GroupBy:

`df[subset].groupby(category).aggregation()`

Para profundizar en las capacidades y opciones de Pandas GroupBy, puedes referirte a la documentación oficial [aquí](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html).

`groupby the departments and their mean age`

In [ ]:
# Hay dos formas de hacerlo (1st)
df[["Age", "Department"]].groupby("Department").mean()

In [ ]:
# Hay dos formas de hacerlo (2nd)
df[["Age", "Department"]].groupby("Department").agg("mean")

`groupby the departments and their maximum age`

In [ ]:
# Hay dos formas de hacerlo (1st)
df[["Age", "Department"]].groupby("Department").agg({"Age":"max"})

In [ ]:
# Hay dos formas de hacerlo (2nd)
df[["Age", "Department"]].groupby("Department").max()

`groupby the departments and their min age`

In [ ]:
# Hay dos formas de hacerlo  (1st)
df[["Age", "Department"]].groupby("Department").agg({"Age":"min"})

In [ ]:
# Hay dos formas de hacerlo  (2nd)
df[["Age", "Department"]].groupby("Department").min()

`groupby: 2+`: Diferentes campos de educación y sus salarios medios en cada uno de los departamentos

In [ ]:
df[["EducationField", "HourlyRate", "Department"]].groupby(by=["Department", "EducationField"]).agg({"HourlyRate":"mean"})

In [ ]:
df[["EducationField", "HourlyRate", "Department"]].groupby(by=["EducationField", "Department"]).agg({"HourlyRate":"mean"})

`more fields`

In [ ]:
df[["EducationField", "HourlyRate", "Department", "StandardHours", "Age"]].groupby(by=["Department", "EducationField"]).mean()

#### groupby & aggregate

En Pandas, la función "agg" se utiliza para agregar datos dentro de los grupos creados mediante GroupBy. Permite aplicar múltiples funciones de agregación a la vez, ofreciendo un control detallado sobre el resumen de tus datos.

Estas son algunas funciones de agregación comunes disponibles con "agg":
- **mean**: Calcula el promedio de los valores en cada grupo.
- **sum**: Suma todos los valores en cada grupo.
- **count**: Cuenta el número de filas en cada grupo.

Con "agg", puedes especificar estas y otras funciones de agregación, adaptando el resumen de tus datos a tus necesidades específicas de análisis. Esta capacidad es muy útil cuando necesitas obtener distintas estadísticas de tus datos agrupados al mismo tiempo.

Para más detalles sobre la función "agg" y sus opciones avanzadas, puedes consultar la documentación oficial de Pandas [aquí](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html).

### Tablas dinámicas

Las tablas dinámicas son esenciales en análisis de datos, especialmente cuando necesitas analizar y comparar varios aspectos de tu conjunto de datos de manera simultánea. Pandas ofrece la función `pivot_table`, que permite crear tablas dinámicas estilo hoja de cálculo dentro de un DataFrame.

La función `pivot_table` acepta varios parámetros clave:
- `df`: El DataFrame que deseas pivotar.
- `values`: Las columnas que contienen los valores para agregar.
- `index`: Las columnas que se convertirán en el nuevo índice de la tabla dinámica.
- `columns`: Las columnas que se convertirán en las nuevas columnas de la tabla dinámica.
- `aggfunc`: La función de agregación que se aplicará a los valores (el valor por defecto es 'mean').

Al aplicar `pivot_table`, tu data se organiza en un formato más estructurado, facilitando operaciones de agregación como el cálculo de medias, sumas o conteos a través de diferentes grupos y dimensiones.

Para una guía detallada sobre cuándo usar `groupby` en comparación con `pivot_table`, puedes revisar el siguiente artículo: [GroupBy vs. Pivot Table](https://towardsdatascience.com/a-comparison-of-groupby-and-pivot-in-pythons-pandas-module-527909e78d6b).

Aprovechar las tablas dinámicas puede mejorar significativamente tu análisis de datos, ayudándote a descubrir insights en conjuntos de datos complejos.

Para conocer más sobre `pivot_table` y sus opciones avanzadas, consulta la documentación oficial de Pandas [aquí](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html).

`tabla dinámica`: el departamento y sus edades medias

In [ ]:
df.head()

In [ ]:
# Ejemplo, calculando media de edad por departamento
df.pivot_table(
    values = "Age",
    index = "Department",
    aggfunc = "mean"
)

Now, is your **turn**:

`pivot table`: el departamento y sus edades max

`pivot table`: el departamento y sus edades min

`pivot table`: el departamento y media de edad

`multi-index pivot table`: salario máximo de los empleados por departamento y campo de educación.

In [ ]:
# Example, calculating mean age by department and EducationField

df.pivot_table (
    values = "MonthlyIncome",
    index = ["Department", "EducationField"],
    aggfunc = "max"
)

### crosstab

En el análisis de datos, comprender las relaciones entre variables categóricas es a menudo crucial para obtener insights sobre tu conjunto de datos. Pandas ofrece una herramienta llamada `crosstab` que te ayuda a computar una simple tabulación cruzada de dos o más factores dentro de tu DataFrame.

La función `pd.crosstab()` está diseñada para este propósito y es particularmente útil cuando quieres examinar la frecuencia o distribución de una variable categórica en relación con otra. Por defecto, computa una tabla de frecuencia, pero también puedes pasar un arreglo de valores y una función de agregación para análisis más avanzados.

Sintaxys basica:
```python
pd.crosstab(df[column1], df[column2])
```

In [ ]:
# Example I
pd.crosstab(df["Department"], df["EducationField"])

In [ ]:
# Example II
pd.crosstab(df["Department"], df["EducationField"], df["MonthlyIncome"], aggfunc="mean")

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Combinación de datos: mezclando dataframes

En el análisis de datos del mundo real, a menudo te encuentras con escenarios donde necesitas combinar datos de diferentes fuentes u organizarlos de manera diferente para realizar un análisis significativo. Pandas proporciona varios métodos potentes para fusionar, unir y concatenar DataFrames que te ayudan a gestionar este proceso de manera eficiente.

Para una comprensión completa de estas técnicas, considera explorar los siguientes recursos:
- [Real Python: Pandas Merge, Join, y Concat](https://realpython.com/pandas-merge-join-and-concat/)
- [Documentación de Pandas: Fusión y Unión](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

### Concat: dos cosas juntas
La concatenación es una de las operaciones fundamentales para combinar DataFrames. Con `pd.concat()`, puedes unir DataFrames a lo largo de un eje especificado, usualmente a lo largo del eje 0 (verticalmente), para apilarlos uno debajo del otro. Esto alinea las columnas basadas en sus etiquetas, lo que lo convierte en una herramienta valiosa para extender o añadir datos verticalmente.

La sintaxis básica para la concatenación es la siguiente:
```python
result = pd.concat([df1, df2, ...], axis=0)
```
Aquí, `df1`, `df2`, y así sucesivamente son los DataFrames que quieres concatenar. El argumento `axis=0` asegura que la concatenación ocurra verticalmente, alineando las filas.

Dominando la concatenación, puedes gestionar de manera eficiente conjuntos de datos que crecen con el tiempo o combinar datos de varias fuentes en un único DataFrame cohesivo. Esto es particularmente útil cuando se trata de datos de series temporales, archivos de registro u otras situaciones donde los datos se recopilan de manera incremental.

Para profundizar más en la concatenación y explorar opciones más avanzadas, puedes referirte a los recursos proporcionados y la documentación oficial de Pandas sobre [pd.concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html).

In [ ]:
# Load some data
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                             sep='|', 
                             index_col='user_id')

In [ ]:
df.head()

In [ ]:
# Let's sample it
first_df = df.sample(frac=0.1)
second_df = df.sample(frac=0.1)

In [ ]:
second_df

In [ ]:
second_df.shape

#### Concatenating on axis 0 (rows)

In [ ]:
pd.concat([first_df, second_df], axis=0, keys=["Table 1", "Table 2"])

- Esta operación concatena los DataFrames `first_df` y `second_df` verticalmente (a lo largo de `axis=0`), lo que significa que los apila uno encima del otro.

- El parámetro `keys` se utiliza para especificar un índice jerárquico para el DataFrame resultante. En este caso, estás dando a cada DataFrame original una etiqueta: "Tabla 1" y "Tabla 2".

- Como resultado, la salida será un nuevo DataFrame con una estructura jerárquica (MultiIndex). Puedes pensar en ello como tener dos secciones etiquetadas "Tabla 1" y "Tabla 2", donde cada sección contiene los datos del respectivo DataFrame original.

#### Concatenating on axis 1 (columns)

In [ ]:
pd.concat([first_df, second_df], axis=1, keys=["left", "right"])

- Esta operación concatena los DataFrames `first_df` y `second_df` horizontalmente (a lo largo de `axis=1`), lo que significa que los combina uno al lado del otro.

- Similar a la primera operación, el parámetro `keys` se utiliza para etiquetar las columnas resultantes de cada DataFrame original. Aquí, las estás etiquetando como "izquierda" y "derecha".

- La salida será un nuevo DataFrame donde las columnas están organizadas en dos secciones etiquetadas "izquierda" y "derecha", representando los datos de los respectivos DataFrames originales.

![sql joins](https://upload.wikimedia.org/wikipedia/commons/9/9d/SQL_Joins.svg)

### Merge: related columns

La función `merge()` en Pandas es una herramienta poderosa cuando necesitas combinar filas de múltiples DataFrames basados en columnas relacionadas. Se utiliza principalmente para uniones al estilo de bases de datos donde quieres reunir datos de diferentes fuentes que comparten columnas clave comunes.

**Entendiendo la Función `merge()`**:

Puedes pensar en la función `merge()` como una manera de fusionar filas que comparten datos a través de columnas especificadas. Te permite realizar varios tipos de uniones, como uniones internas, externas, izquierdas y derechas, que determinan cómo se combinan las filas de ambos DataFrames.

- **Unión Interna (Inner Join)**: Este tipo de unión devuelve solo las filas donde hay una coincidencia en ambos DataFrames basada en las columnas especificadas. Las filas sin coincidencia se excluyen.

- **Unión Externa (Full Outer Join)**: Una unión externa devuelve todas las filas cuando hay una coincidencia en cualquiera de los DataFrames izquierdo o derecho. Las filas no emparejadas contendrán valores NaN para los datos faltantes.

- **Unión Izquierda (Left Outer Join)**: Una unión izquierda devuelve todas las filas del DataFrame izquierdo y las filas emparejadas del DataFrame derecho. Las filas no emparejadas del DataFrame izquierdo aún se incluirán.

- **Unión Derecha (Right Outer Join)**: A la inversa, una unión derecha devuelve todas las filas del DataFrame derecho y las filas emparejadas del DataFrame izquierdo. Las filas no emparejadas del DataFrame derecho aún se incluirán.

**Uso y Sintaxis**:

Aquí tienes un esquema básico de cómo usar la función `merge()`:

```python
merged_df = pd.merge(left_df, right_df, on='common_column', how='join_type')
```
- **Uso y Sintaxis:**

  - `left_df`: El DataFrame izquierdo que quieres fusionar.
  - `right_df`: El DataFrame derecho que quieres fusionar.
  - `on`: La(s) columna(s) en las que quieres realizar la fusión. Estas columnas deberían existir en ambos DataFrames y servir como la(s) clave(s) para la operación de fusión.
  - `how`: El tipo de unión que quieres realizar (por ejemplo, 'inner', 'outer', 'left', 'right').

- **Beneficios de Usar `merge()`:**

  - **Integración de Datos:** Merge ayuda a integrar datos de múltiples fuentes o tablas en un conjunto de datos único y comprensivo.

  - **Análisis de Datos:** Simplifica el proceso de combinar información relacionada, facilitando el análisis de datos y la derivación de insights.

  - **Operaciones de Base de Datos:** `merge()` se alinea con operaciones comunes de bases de datos como las uniones SQL, permitiendo a los analistas de datos aprovechar su conocimiento de SQL dentro de Pandas.

  - **Consultas Complejas:** Puedes manejar relaciones de datos complejas y realizar consultas que involucren múltiples tablas de manera eficiente.

Fusionar DataFrames usando `merge()` es una operación fundamental en la manipulación y análisis de datos, especialmente cuando se trata de conjuntos de datos del mundo real de diversas fuentes. Te proporciona la flexibilidad para controlar cómo se combinan los datos y te permite trabajar con relaciones de datos complejas.

Para obtener información más detallada y opciones, puedes referirte a la documentación oficial de Pandas sobre [`merge()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html).

#### LEFT Merge

In [ ]:
from IPython.display import display_html

In [ ]:
df1 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


df2 = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

df3 = pd.DataFrame(
    {
        "key1": ["K90", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K5", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "Y": ["D0", "D70", "D2", "D5"],
    }
)

In [ ]:
# Just showing tables
df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
display_html(df1_styler._repr_html_() + " " + df2_styler._repr_html_(), raw=True)

In [ ]:
# merge, default is inner
pd.merge(df1, df2)

In [ ]:
# merges, now is a left
pd.merge(df1, df2, how="left")

In [ ]:
# merges, now is a right
pd.merge(df1, df2, how="right")

In [ ]:
# merge, now is inner
pd.merge(df1, df2, how="inner")

In [ ]:
# merge, now is outer
outer_merge = pd.merge(df1, df2, how="outer")

### Merging & Concatenating in two different columns

In [ ]:
df1_docs = pd.DataFrame({'Locations': ['Spain', 'France', 'Portugal', 'Spain'],
                    'city': ["Barcelona", "Paris", "Lisbon", "Madrid"]})
df2_docs = pd.DataFrame({'More locations': ['Spain', 'France', 'Portugal', 'Spain'],
                    'city': ["Madrid", "Lyon", "Porto", "Albacete"]})

#### Concatenating in two different columns

In [ ]:
pd.concat([df1_docs, df2_docs], axis=1, keys=["1st table", "2nd table"])

#### Merging in two different columns

In [ ]:
df1_docs.merge(df2_docs, left_on='Locations', right_on='More locations', suffixes = ["_fromlastyear", "_fromthisyear"])

In [ ]:
df1_docs.merge(df2_docs,  left_on='Locations', right_on='More locations', suffixes = ["_fromleft", "_fromright"])

### Join: relating index
The join, unlike the merge, will join the dataframes and where there are no records in the "index" it will put NaN

In [ ]:
import numpy as np
import pandas as pd   
from IPython.display import display_html

In [ ]:
left_df = pd.DataFrame({"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"])
right_df = pd.DataFrame({"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"])

In [ ]:
left_df.join(right_df, how="inner")

### Diferencias entre join y merge
Al combinar DataFrames en Pandas, tienes dos métodos principales a tu disposición: `join()` y `merge()`. Cada método tiene su propio conjunto de características y casos de uso. A continuación, se presenta una comparación de estos dos métodos basada en diferentes características de unión:

| Característica de Unión             | `join()` | `merge()` |
|-------------------------------------|:--------:|:---------:|
| Unión Interna (Inner Join)          |   Sí     |    Sí     |
| Unión Izquierda (Left Join)         |   Sí     |    Sí     |
| Unión Derecha (Right Join)          |   Sí     |    Sí     |
| Unión Externa (Outer Join)          |   Sí     |    Sí     |
| Unión Cruzada (Cross Join)          |    X     |    Sí     |
| Unión en Índices                    |   Sí     |    Sí     |
| Unión en Columnas                   |    X     |    Sí     |
| Izquierda en Columna, Derecha en Índice |   Sí  |    Sí     |
| Izquierda en Índice, Derecha en Columna |    X  |    Sí     |

**Explicación:**

- **Unión Interna (Inner Join):** Tanto `join()` como `merge()` admiten uniones internas, que devuelven solo las filas con valores coincidentes en ambos DataFrames.

- **Unión Izquierda (Left Join):** Ambos métodos permiten uniones izquierdas, que incluyen todas las filas del DataFrame izquierdo y las filas coincidentes del DataFrame derecho.

- **Unión Derecha (Right Join):** Ambos métodos admiten uniones derechas, que incluyen todas las filas del DataFrame derecho y las filas coincidentes del DataFrame izquierdo.

- **Unión Externa (Outer Join):** Ambos métodos permiten uniones externas, que incluyen todas las filas de ambos DataFrames, rellenando los valores faltantes con NaN donde sea necesario.

- **Unión Cruzada (Cross Join):** Mientras que `merge()` puede realizar uniones cruzadas, `join()` no las admite. Las uniones cruzadas resultan en un producto cartesiano de filas entre dos DataFrames.

- **Unión en Índices:** Tanto `join()` como `merge()` pueden realizar uniones basadas en el índice de los DataFrames.

- **Unión en Columnas:** `merge()` permite unir DataFrames en columnas específicas, mientras que `join()` no ofrece esta capacidad.

- **Izquierda en Columna, Derecha en Índice:** Ambos métodos admiten la unión en una columna del DataFrame izquierdo y el índice del DataFrame derecho.

- **Izquierda en Índice, Derecha en Columna:** `merge()` puede unir en el índice del DataFrame izquierdo y una columna del DataFrame derecho, pero `join()` no ofrece esta opción.

Esta comparación debería ayudarte a elegir el método apropiado basado en tus requisitos específicos de fusión.

## Business challenge: IronHack Delivery orders analysis (use pycharm)

En este análisis, exploraremos un conjunto de datos que contiene información sobre pedidos de socios falsos dentro de la aplicación. Los socios falsos son tiendas no integradas directamente con Glovo, y nuestro equipo de contenido gestiona su catálogo de productos y precios. Este conjunto de datos proporciona detalles sobre los pedidos, discrepancias de pago y otra información relevante.

1. Descripción del Conjunto de Datos
    - `order_id`: Identificador único para cada pedido.
    - `activation_time_local`: Hora local cuando se activó el pedido.
    - `country_code`: Código de país para el pedido.
    - `store_address`: Dirección de la tienda.
    - `final_status`: El estado final del pedido.
    - `payment_status`: El estado de pago del pedido.
    - `products`: Número de productos en el pedido.
    - `products_total`: Monto total en el momento de la compra en euros (€).
    - `purchase_total_price`: Monto que el mensajero pagó en la tienda en euros (€).

2. Antecedentes
Los pedidos de socios falsos pueden exhibir discrepancias entre el monto total en el momento de la compra (`products_total`) y el monto que el mensajero paga en la tienda (`purchase_total_price`). Cuando `products_total` es menor que `purchase_total_price`, los clasificamos como "pedidos no autorizados suficientemente". Entender estas discrepancias es crucial para la transición de cobro contra entrega a un modelo de autorización y captura.

3. Preguntas Clave
Durante este proceso de Análisis Exploratorio de Datos (EDA), apuntamos a responder las siguientes preguntas:

    1. ¿Qué porcentaje de pedidos no están suficientemente autorizados?
    2. ¿Qué porcentaje de pedidos estarían correctamente autorizados con una autorización incremental del 20% sobre el monto en el momento de la compra?
    3. ¿Existen diferencias en los porcentajes anteriores cuando se dividen por país?
    4. Para los pedidos restantes fuera de la autorización incremental, ¿qué valores serían necesarios para capturar el monto restante?
    5. ¿Cuáles son las tiendas más problemáticas en términos de pedidos y valor monetario?
    6. Para los pedidos no autorizados suficientemente, ¿existe una correlación entre la diferencia de precio y las cancelaciones de pedidos? En otras palabras, ¿es más probable que un pedido sea cancelado a medida que aumenta la diferencia de precio?

A través de este análisis, apuntamos a obtener insights sobre las fluctuaciones de precios de pedidos pasados y evaluar el riesgo asociado con la transición a un nuevo modelo de autorización.

¡Sumérgete en el conjunto de datos y comienza a explorar!

In [4]:
# Load the dataset
df = pd.read_csv("./datasets/fake_orders_test.csv")

In [5]:
df.head()

,33557880,2019-03-10 23:59:59.000000,AR,14200,DeliveredStatus,PAID,1,4.54,8.64
0,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76
1,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86
2,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00
3,33557765,2019-03-10 23:57:21.000000,AR,34565,DeliveredStatus,PAID,2,2.86,6.48
4,33512273,2019-03-10 23:57:13.000000,TR,63536,DeliveredStatus,PAID,4,1.88,1.96

In [6]:
headers = ['order_id', 'activation_time_local', 'country_code', 'store_address',
            'final_status', 'payment_status', 'products', 'products_total',
            'purchase_total_price']
df.columns = headers

In [7]:
df.head()

,order_id,activation_time_local,country_code,store_address,final_status,payment_status,products,products_total,purchase_total_price
0,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76
1,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86
2,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00
3,33557765,2019-03-10 23:57:21.000000,AR,34565,DeliveredStatus,PAID,2,2.86,6.48
4,33512273,2019-03-10 23:57:13.000000,TR,63536,DeliveredStatus,PAID,4,1.88,1.96

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               60399 non-null  int64
 1   activation_time_local  60399 non-null  object
 2   country_code           60399 non-null  object
 3   store_address          60399 non-null  int64
 4   final_status           60399 non-null  object
 5   payment_status         60399 non-null  object
 6   products               60399 non-null  int64
 7   products_total         60399 non-null  float64
 8   purchase_total_price   60399 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 4.1+ MB

In [9]:
df.isnull().sum()

order_id                 0
activation_time_local    0
country_code             0
store_address            0
final_status             0
payment_status           0
products                 0
products_total           0
purchase_total_price     0
dtype: int64

In [10]:
df["discrepancia"] = df["products_total"] - df["purchase_total_price"]

df.head()

,order_id,activation_time_local,country_code,store_address,final_status,payment_status,products,products_total,purchase_total_price,discrepancia
0,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76,0.00
1,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86,0.00
2,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00,12.95
3,33557765,2019-03-10 23:57:21.000000,AR,34565,DeliveredStatus,PAID,2,2.86,6.48,-3.62
4,33512273,2019-03-10 23:57:13.000000,TR,63536,DeliveredStatus,PAID,4,1.88,1.96,-0.08

In [15]:
no_auto = df[df["discrepancia"] < 0]

no_auto_pern = (len(no_auto) / len(df)) * 100

print(no_auto_pern)

# 69 %

57.58373483004685

In [16]:
df["auto_increm"] = df["products_total"] * 1.2

df.head()

,order_id,activation_time_local,country_code,store_address,final_status,payment_status,products,products_total,purchase_total_price,discrepancia,auto_increm
0,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76,0.00,4.512
1,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86,0.00,3.432
2,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00,12.95,15.540
3,33557765,2019-03-10 23:57:21.000000,AR,34565,DeliveredStatus,PAID,2,2.86,6.48,-3.62,3.432
4,33512273,2019-03-10 23:57:13.000000,TR,63536,DeliveredStatus,PAID,4,1.88,1.96,-0.08,2.256

In [17]:
ped_auto_increm = df[df["auto_increm"] >= df["purchase_total_price"]]

ped_auto_increm

,order_id,activation_time_local,country_code,store_address,final_status,payment_status,products,products_total,purchase_total_price,discrepancia,auto_increm
0,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76,0.00,4.512
1,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86,0.00,3.432
2,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00,12.95,15.540
4,33512273,2019-03-10 23:57:13.000000,TR,63536,DeliveredStatus,PAID,4,1.88,1.96,-0.08,2.256
5,33524023,2019-03-10 23:57:06.000000,EG,73739,DeliveredStatus,PAID,3,10.19,1.61,8.58,12.228
...,...,...,...,...,...,...,...,...,...,...,...
60394,31960607,2019-03-01 00:04:31.000000,TR,68820,DeliveredStatus,PAID,2,10.17,10.33,-0.16,12.204
60395,32002079,2019-03-01 00:03:53.000000,AR,50175,CanceledStatus,PAID,1,3.80,0.00,3.80,4.560
60396,32002046,2019-03-01 00:03:06.000000,AR,55159,DeliveredStatus,PAID,1,4.24,4.91,-0.67,5.088
60397,32001950,2019-03-01 00:01:01.000000,AR,62504,CanceledStatus,PAID,1,4.91,0.00,4.91,5.892
60398,32001318,2019-03-01 00:01:00.000000,AR,55159,DeliveredStatus,NOT_PAID,2,5.14,5.58,-0.44,6.168

In [19]:
porcen_auto_increm = ((len(ped_auto_increm) / len(df)) * 100)


porcen_auto_increm

69.03591119058262

In [24]:
df.groupby("country_code").apply((len(no_auto) / len(df)) * 100).reset_index(name="porcentaje_no_autorizados")

print(df.groupby("country_code").apply((len(no_auto) / len(df)) * 100).reset_index(name="porcentaje_no_autorizados"))

TypeError: 'float' object is not callable

# RECAP

## Subconjuntos
- Seleccionar columnas específicas:
  - `df[[col1, col2]]`

## Agreggations
### Groupby
- Realizar agregaciones basadas en una columna categórica:
  - `df[[col1, col2]].groupby(CATEGORICAL).agg({QUANTITATIVE_1: "mean", QUANTITATIVE_2: "max"})`
  - `df[[col1, col2]].groupby(CATEGORICAL).mean()`
- Funciones de agregación comunes:
  - count (conteo), mean (media), max (máximo), min (mínimo), median (mediana), std (desviación estándar), y más.

### Pivot table
- Crear tablas pivote para resumir datos:
  - `df.pivot_table(values="MonthlyIncome", index="Department", aggfunc="mean")`
- Las tablas pivote ofrecen una forma concisa de agregar y comparar datos.

### Crosstab
- Calcular tabulaciones cruzadas para analizar la relación entre dos variables categóricas:
  - El comportamiento predeterminado cuenta ocurrencias.
  - Usa `aggfunc="mean"` para agregar variables cuantitativas.
  - Asegúrate de seleccionar variables apropiadas.

## UNION & MERGE & CONCAT

### Concatenación
- Combinar DataFrames físicamente (no relacionalmente):
  - Lado a lado: `concat` en `axis=1`.
    - Usar cuando los DataFrames no comparten columnas o tienen una clave común.
  - Arriba & abajo: `concat` en `axis=0` (añadiendo filas).
    - Adecuado cuando los DataFrames comparten columnas.

### Merge & Join (Pandas)
- Merge: Combinar DataFrames basados en columnas comunes.
- Join: Combinar DataFrames basados en índices comunes.
- En SQL, las operaciones de unión se realizan sobre columnas.

Estos puntos de recapitulación resumen operaciones clave para la manipulación y análisis de datos en Pandas. Puedes usar estas técnicas para seleccionar, agregar y combinar datos de manera eficiente, ayudándote a obtener insights de tus conjuntos de datos.

## Metodos usuales de pandas
```python
df.head() # prints the head, default 5 rows
df.tail() # set the tail, default 5 rows
df.describe() # statistical description
df.info() # df information
df.columns # show column
df.index # show index
df.dtypes # show column data types
df.plot() # make a plot
df.hist() # make a histogram
df.col.value_counts() # counts the unique values ​​of a column
df.col.unique() # returns unique values ​​from a column
df.copy() # copies the df
df.drop() # remove columns or rows (axis=0,1)
df.dropna() # remove nulls
df.fillna() # fills nulls
df.shape # dimensions of the df
df._get_numeric_data() # select numeric columns
df.rename() # rename columns
df.str.replace() # replace columns of strings
df.astype(dtype='float32') # change the data type
df.iloc[] # locate by index
df.loc[] # locate by element
df.transpose() # transposes the df
df.T
df.sample(n, frac) # sample from df
df.col.sum() # sum of a column
df.col.max() # maximum of a column
df.col.min() # minimum of one column
df[col] # select column
df.col
df.isnull() # null values
df.isna()
df.notna() # not null values
df.drop_duplicates() # remove duplicates
df.reset_index(inplace=True) # reset the index and overwrite
```

## Más material

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)