# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [3]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [5]:
# Tu código aquí
serie_lab =  pd.Series(lst)

serie_lab

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [6]:
# Tu código aquí

serie_lab[2]

print(serie_lab[2])

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
# Tu código aquí

df_b = pd.DataFrame(b)

df_b

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [9]:
nombres_nuevos = ["Score 1","Score 2","Score 3","Score 4","Score 5"]

In [10]:


df_b.columns = nombres_nuevos

df_b

   Score 1  Score 2  Score 3  Score 4  Score 5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [11]:
# Tu código aquí

subset_df_b = df_b[["Score 1","Score 2","Score 3"]]

subset_df_b

   Score 1  Score 2  Score 3
0     53.1     95.0     67.5
1     61.3     40.8     30.8
2     20.6     73.2     44.2
3     57.4      0.1     96.1
4     83.6     20.5     85.4
5     49.0     69.0      0.1
6     23.3     40.7     95.0
7     27.6     26.4     53.8
8     96.6     96.4     53.4
9     73.7     39.0     43.2

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [12]:
# Tu código aquí

mean_S3 = np.mean(df_b["Score 3"])

print(mean_S3)

56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [13]:
# Tu código aquí

max_S4 = df_b["Score 4"].max()

print(max_S4)

88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [14]:
# Tu código aquí

mean_S2 = df_b["Score 2"].mean()

print(mean_S2)

50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [15]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [16]:
# Tu código aquí

df_orders = pd.DataFrame(orders)

df_orders

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [17]:
# Tu código aquí

sum_quantity = df_orders["Quantity"].sum()

print(f"La cantidad total pedida es = {sum_quantity}")

sum_revenue = df_orders["Revenue"].sum()

print(f"Los ingresos generados son = {sum_revenue}")

La cantidad total pedida es = 2978
Los ingresos generados son = 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [18]:
# Tu código aquí

max_order = df_orders["UnitPrice"].max()

min_order = df_orders["UnitPrice"].min()

print(f"La diferencia entre el precio mas caro y el mas barato es = {max_order-min_order}")

La diferencia entre el precio mas caro y el mas barato es = 11.77

## Carguemos otro conjunto de datos para más ejercicios

In [19]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [20]:
# Tu código aquí

df_adm = pd.DataFrame(admissions)

print(df_adm.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [21]:
# Tu código aquí

print(df_adm.isnull().sum())

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [22]:
# Tu código aquí

df_adm.set_index("Serial No.", drop=False, inplace=True)

print(df_adm.head())

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [29]:
# Tu código aquí

cond_1 = (df_adm["CGPA"] > 9) & (df_adm["Research"] == True)
num_filas = df_adm[cond_1].shape[0]

print("Número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado investigación:", num_filas)

Número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado investigación: 101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [40]:
# Tu código aquí

# Filtrar filas donde CGPA > 9 y SOP < 3.5
cond_2 = (df_adm["CGPA"] > 9) & (df_adm["SOP"] < 3.5)
filtr = df_adm[cond_2]

# Calcular la probabilidad media de admisión
probabilidad_media = filtr["Chance of Admit "].mean()

print("Filas donde CGPA > 9 y SOP < 3.5:")

print(filtr.head(10))
print("\nProbabilidad media de admisión para estos solicitantes:", probabilidad_media)

Filas donde CGPA > 9 y SOP < 3.5:
            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
29                  29        338          118                  4  3.0   4.5
63                  63        327          114                  3  3.0   3.0
141                141        326          114                  3  3.0   3.0
218                218        324          111                  4  3.0   3.0
382                382        325          107                  3  3.0   3.5

            CGPA  Research  Chance of Admit
Serial No.
29          9.40         1              0.91
63          9.02         0              0.61
141         9.11         1              0.83
218         9.01         1              0.82
382         9.11         1              0.84

Probabilidad media de admisión para estos solicitantes: 0.8019999999999999